.input {
    min-width: 304px;
    max-width: 480px;
    min-height: 48px;
    border-radius: 40px;
    background-color: #2F2F37;
    color: #8585AD;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

.input::placeholder{
    color: var(--text-lilac);
}

.label{
    position: absolute;
    top: 0;
    padding-left: 20px;
    min-width: 304px;
    max-width: 480px;
    box-sizing: border-box;
}

.label__icon{
    position: absolute;
    top: -53px;
   right: 12px;
}
.label__change_icon{
    position: absolute;
    top: calc(50%);
   right: 12px;
}