.consrtructor__price_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    box-sizing: border-box;
    background-color: var(--modal-bc);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.consrtructor__totalprice {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 92px;
    gap: 8px;
}

@media(min-width:768px) {
    .consrtructor__price_box {
        background-color: var(--background);
        margin-top: 40px;
        position: relative;
        justify-content: flex-end;
        font-size: 48px;
        line-height: 36px;
        gap: 40px;
    }
}